<h2>Overview</h2>

@if (government) {
  @let world = government.world;

  <div class="flex-horizontal-centered">
    <img [attr.src]="government | governmentFlagUrl: world" class="flag-image-lg">

    <div style="width: 300px; height: 300px;">
      <pt-geo-map [center]="government.centroid || {lon: 0, lat: 0}" [fixed]="true" [projection]="'globe'"
                  class="map-container">
        <pt-geo-map-layer-background></pt-geo-map-layer-background>
        <pt-geo-map-layer-world-territories
          [cellTypes]="landCellTypes"
          [worldId]="world.id"
        ></pt-geo-map-layer-world-territories>
        <pt-geo-map-layer-world-nations
          [highlights]="[government]"
          [worldId]="world.id"
        ></pt-geo-map-layer-world-nations>
        <pt-geo-map-layer-grid></pt-geo-map-layer-grid>
      </pt-geo-map>
    </div>
  </div>

  <div style="height: 600px;">
    <pt-geo-map [fitBounds]="$any(government.bounds)" class="map-container">
      <pt-geo-map-layer-background></pt-geo-map-layer-background>
      <pt-geo-map-control-navigation></pt-geo-map-control-navigation>
      <pt-geo-map-layer-world-territories
        [cellTypes]="landCellTypes"
        [worldId]="world.id"
      ></pt-geo-map-layer-world-territories>
      <pt-geo-map-layer-world-nations
        [highlights]="[government]"
        [worldId]="world.id"
      ></pt-geo-map-layer-world-nations>
      <pt-geo-map-layer-grid></pt-geo-map-layer-grid>
    </pt-geo-map>
  </div>
}
