@let legislature = bodyLegislature$ | async;
@if (legislature) {
  <h2>{{ legislature.title }}</h2>

  @let lowerChamber = bodyLowerChamber$ | async;
  @let upperChamber = bodyUpperChamber$ | async;

  <ng-template #bodyTemplate let-body="body">
    @if (body) {
      <h2>{{ body.name }}</h2>
      <div class="flex-horizontal-centered">
        @let term = body.currentTerm;
        @if (term) {
          @let fractions = term.fractions;
          @if (fractions && fractions.length > 0) {
            <pt-hemisphere-diagram [fractions]="fractions"></pt-hemisphere-diagram>
            <pt-fractions-table [fractions]="fractions"></pt-fractions-table>
          }
        }
      </div>
    }
  </ng-template>

  <ng-container [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{body: lowerChamber}"></ng-container>
  <ng-container [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{body: upperChamber}"></ng-container>
}
