// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  --flag-xs-height: 16px;
  --flag-xs-width: calc(var(--flag-xs-height) * 3 / 2);
  --flag-sm-height: 24px;
  --flag-sm-width: calc(var(--flag-sm-height) * 3 / 2);
  --flag-md-height: 56px; // same as a mat-form-field
  --flag-md-width: calc(var(--flag-md-height) * 3 / 2);
  --flag-lg-height: calc(var(--flag-md-height) * 2);
  --flag-lg-width: calc(var(--flag-lg-height) * 3 / 2);

  --portrait-sm-size: 48px;

  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));
}

img.flag-image-xs {
  width: var(--flag-xs-width);
  height: var(--flag-xs-height);
  border: 1px solid var(--mat-sys-outline);
  vertical-align: middle;
}

img.flag-image-sm {
  width: var(--flag-sm-width);
  height: var(--flag-sm-height);
  border: 1px solid var(--mat-sys-outline);
  vertical-align: middle;
}

img.flag-image-md {
  width: var(--flag-md-width);
  height: var(--flag-md-height);
  border: 1px solid var(--mat-sys-outline);
  vertical-align: middle;
}

img.flag-image-lg {
  width: var(--flag-lg-width);
  height: var(--flag-lg-height);
  border: 1px solid var(--mat-sys-outline);
  vertical-align: middle;
}

img.portrait-image-sm {
  width: var(--portrait-sm-size);
  height: var(--portrait-sm-size);
  border: 1px solid var(--mat-sys-outline);
  vertical-align: middle;
}

mat-toolbar {
  a {
    pt-icon {
      vertical-align: middle;
    }

    vertical-align: middle;
  }
}

h1 {
  border-bottom: 1px solid var(--mat-sys-outline);
  padding-bottom: 15px;
}

h1, h2 {
  text-align: center;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.nowrap {
  text-wrap: nowrap;
}

.narrow {
  width: 1px;
  text-wrap: nowrap;
}

.wide {
  width: 100%;
}

.compact-table {
  border-collapse: collapse;

  td, th {
    padding: 10px;
  }

  th {
    border-bottom: 1px solid var(--mat-sys-outline);
    text-align: left;
  }
}

.border-left {
  border-left: 1px solid var(--mat-sys-outline);
}

.border-right {
  border-right: 1px solid var(--mat-sys-outline);
}

.border-top {
  border-top: 1px solid var(--mat-sys-outline);
}

.flex-horizontal-centered {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

mat-card-header {
  mat-card-title {
    text-align: center;
  }
}

th.mat-mdc-header-cell {
  user-select: none;
}

.mat-mdc-tab-label-container {
  user-select: none;
}
