<mat-toolbar>
  <div class="expander"></div>

  <a mat-button [routerLink]="['/worlds']">Worlds</a>

  @let self = self$ | async;
  @let world = (world$?.object | async) || self?.currentWorld;

  @if (world) {
    <a mat-button [routerLink]="['/worlds', world.id]">
      <pt-icon name="world"/>
      {{ world.name }}
    </a>

    <a mat-button [routerLink]="['/worlds', world.id, 'nations']">Nations</a>
  }
  @if (self) {
    @if (world) {
      @let nation = self.currentNation;
      @let party = self.currentParty;
      @if (nation) {
        <a mat-button [routerLink]="['/worlds', world.id, 'governments', nation.id]">
          <img class="flag-image-xs" [attr.src]="nation | governmentFlagUrl: world">
          {{ nation.name }}
        </a>
      }
      @if (party) {
        <a mat-button [routerLink]="['/worlds/', world.id, 'parties', party.id]">
          <span
            style="border-top: 2px solid transparent; border-bottom: 2px solid transparent; padding-top: 3px; padding-bottom: 3px;"
            [style.border-color]="party.color">
            {{ party.name }}
          </span>
        </a>
      }
    }
    <a mat-button [routerLink]="['/worlds']">Profile</a>
    <a mat-button (click)="onLogin()">Sign Out</a>
  }
  @if (!self) {
    <a mat-button (click)="onLogin()">Sign In</a>
  }

  <div class="expander"></div>
</mat-toolbar>
<div class="router-outlet-wrapper">
  <router-outlet></router-outlet>
</div>
